*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* palette */
    --primary-color: #4CAF4F;
    --secondary-color: #F5F7FA;
    --section-alternate: #FFFFFF;
    --title-color: #4D4D4D;
    --p-color: #717171;
    --footer-background: #263238;
    --footer-color: #FFFFFF;

    /* Fonts */
    --base-font: "Inter", sans-serif;

    /* Font-size */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-36: 2.25rem;
    --fs-42: 2.625rem;
    --fs-44: 2.75rem;
    --fs-50: 3.125rem;
    --fs-64: 4rem;
    --fs-72: 4.5rem;
    --fs-76: 4.75rem;
}

body {
    font-family: var(--base-font);
    background-color: var(--secondary-color);
}

h1, h2, h3 {
    color: var(--title-color);
}

h1 {
    font-size: var(--fs-64);
    line-height: var(--fs-76);
}

h2 {
    font-size: var(--fs-36);
    line-height: var(--fs-44);
    font-weight: 600;
}

h3 {
    font-size: var(--fs-28);
    line-height: var(--fs-36);
}

p {
    color: var(--p-color);
}


/* ======================= */
/* GENERAL SETTINGS */
/* ======================= */
.container {
    margin: 0 auto;
}

.internal {
    width: 1152px;
}

.flex {
    display: flex;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.txt-center {
    width: 100%;
    text-align: center;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-30 {
    gap: 30px;
}

.gap-32 {
    gap: 32px;
}

.gap-40 {
    gap: 40px;
}

.gap-45 {
    gap: 45px;
}

.gap-78 {
    gap: 78px;
}


.primary-color {
    color: var(--primary-color);
}

.small-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 40px;
    padding: 20px 10px;
    font-size: var(--fs-14);
    border-radius: 6px;
}

.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    max-width: 151px;
    height: 52px;
    padding: 14px 32px;
    font-size: var(--fs-16);
    border-radius: 4px;
    text-wrap: nowrap;
    cursor: pointer;
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.secondary {
    background-color: var(--body-background);
    color: var(--primary-color);
}


.green-txt {
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--primary-color);
    cursor: pointer;
}

/* ======================= */
/* NAVIGATION*/
/* ======================= */
nav {
    padding: 30px 0;
}

#nav-menus ul {
    display: flex;
    height: 24px;
    gap: 50px;
    list-style-type: none;
}

#nav-menus a {
    text-decoration: none;
    color: #18191F;
}

#nav-account ul {
    display: flex;
    align-items: center;
    height: 40px;
    list-style-type: none;
}

#nav-account a {
    text-decoration: none;
    color: var(--primary-color);
}


/* ======================= */
/* MAIN */
/* ======================= */
main section {
    background-color: var(--secondary-color);
}

main section:nth-child(even) {
    background-color: var(--section-alternate);
}

.section-special-div {
    width: 661px;
}

.section-special-div div {
    width: 601px;
}


/* MAIN SECTION 1 */
#section-hero {
    padding: 96px 0;
}


/* MAIN SECTION 2 */
#section-2 {
    padding: 70px 0;
}

.list-logo {
    padding: 25px 0;
}

.section-2-card {
    width: 299px;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.section-2-card p {
    font-size: var(--fs-14);
    line-height: 20px;
}

/* MAIN SECTION 3 */
#section-3 {
    padding: 40px 0;
}

#section-3 p{
    font-size: var(--fs-14);
    line-height: 20px;
}


/* MAIN SECTION 4 */
#section-4 {
    padding: 75px 0;
}

.section-4-left {
    width: 540px;
}

.section-4-right {
    width: 540px;
}

.section-4-right div div {
    width: 255px;
}



/* MAIN SECTION 5 */
#section-5 {
    padding: 70px 0;
}

#section-5 p{
    font-size: var(--fs-14);
    line-height: 20px;
}


/* MAIN SECTION 6 */
#section-6 {
    padding: 70px 0;
}

.photo{
    width: 326px;
    border-radius: 8px;
}

#section-6 p{
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
}

.second-p{
    color: #98939E
}

.texte-fleche{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 44px;
    gap: 8px;
}

.green-arrow {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
}



/* MAIN SECTION 7 */
#section-7 {
    padding: 70px 0;
}

.sect7-p {
    width: 628px;
}

.sect7-card {
   display: flex;
   flex-direction: column;
   align-items: center;
}


.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    width: 317px;
    margin-top: -96px;
    border-radius: 8px;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: var(--fs-28);
    color: var(--p-color);
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}




/* MAIN SECTION 8 */
#section-8 {
    padding: 32px 0;
}

.big-text {
    font-size: var(--fs-64);
    text-align: center;
    font-weight: 600;
    color: var(--footer-background);
}

.white-arrow {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 24px;
}


/* ======================= */
/* FOOTER */
/* ======================= */
footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
}

#section-footer {
    padding: 64px 0;
}


/* ======================= */
/* MEDIA QUERIES */
/* ======================= */
@media (max-width: 1200px) {
    .internal {
        width: 800px;
    }
}